
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    box-sizing: border-box; 
}

.hero{
    width: 100%;
    min-height: 20vh;
    background: #10444b;
    padding-left:6% ;
    padding-right:6%;
}

.head-nav{
    width: 100%;
    padding: 25px 0;
    display: flex;
    align-items: center;
    background: #11686e;
}
.logo{
    flex:1;
}
.logo h1{
    color: white;
    font-size: 20px; 
    padding: 6px; 
    width: 150px;
}
#lists ul{
    display:inline-flex;
}
ul li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}
ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
}
#heading{
    color: white;
    text-align: center;
}
#heading h1{
   padding: 20px;
   font-family: monospace;
   color: #3fe715;
}
#heading p{
    padding-left:20% ;
    padding-right:20%;
    padding-bottom:5%;
    font-size: 24px;
}

button{
    padding: 15px 40px;
    border: 0;
    border-radius: 25px;
    background: #265e79;
    color: white;
    font-size: 14px;
}

.row{
    display: flex;
    width: 100%;
    background: rgb(17, 104, 110);
    border: radius 15px; 
    overflow: hidden;
}
.col-1, .col-2{
    flex-basis: 50%;
    
}
.col-2 img{
    width: 100%;
}
.col-1{
    padding: 8% 5%;
}
.col-1  h1{
   font-size: 60px;
   line-height: 80px;
   letter-spacing: 2px;
   color: #3fe715;;
}
.col-1 p{
    color: rgb(236, 246, 247);
    line-height: 22px;
    margin: 15px 0 30px;
}

button a{
       text-decoration: none;
       color: white;
       font-weight: 700;
}

#banner{
    padding: 1em;
}
/* about me */
.about{
    margin-top: 10px;
    text-align: center;
    padding: 20px;
   
}
.about h1{
    padding-bottom: 10px;
    color: #3fe715;
}
.about p{
    color: white;

}
/* gallery  */
.album{
    width: 100%;
    margin: auto;
    margin-left: 10%; 
}
.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 20%;

  }

.gallery img {
    width: 100%;
    height: auto;
  }
  
.desc {
    padding: 15px;
    text-align: center;
    color: white;

  }

  /* contact form */

.contact{
    text-align: center;
    color: white;
    margin-top: 30em;
    padding-top: 2em;
}
.contact-head{
    margin-top: 30px;
    padding:20px;
}
.contact h1{
    padding:3em;
    padding-bottom: 0;
    color: #3fe715;
}
input[type=text], select, textarea {
    width: 50%;
    padding: 12px; 
    border-radius: 4px;
    margin-top: 8px; 
    margin-bottom: 16px; 
    resize: vertical ;
  }
  
  /* Style the submit button with a specific background color etc */
 .contact button {
    padding: 15px 40px;
    border: 0;
    border-radius: 25px;
    background: rgb(38, 94, 121);
    color: white;
    font-size: 14px;
    box-shadow: rgb(16, 28, 54);
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .foot{
      text-align: center;
      margin-top: 50px;
      padding: 2%;
      padding-bottom: 2em;
      background: rgb(17, 104, 110);
  }
  .footer-links {
    list-style-type: none;
  }

